{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div v-if="index" id="index">
  <div class="index-title">
    <h1>Budget Like Magic</h1>
  </div>
  <div class="identity">
  <!-- <div class="identity identity-space"> -->
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Log In</button>
    </form>
    <!-- <input type="text" name="" value="" placeholder="Email address">
    <input type="password" name="" value="" placeholder="Password"> -->
    <p class="forgot-password">
      <a href="{% url 'chris:reset_password' %}">Forgot Password?</a>
    </p>
    <!-- <button type="submit">Log In</button> -->
    <p><a href="{% url 'chris:register' %}">Don't have an account? Register</a></p>
  </div>
  <div class="index-footer">
  </div>
</div>
{% endblock %}
