{% extends 'base.html' %}

{% block head %}
<title>Signup</title>
{% endblock %}

{% block body %}
<div id="index">
  <div class="index-title">
    <h1>Budget Like Magic</h1>
    <!-- <p>Register here</p> -->
  </div>
  <div class="identity">
    {{ message }}
    <form method="post" class="reg-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign Up</button>
    </form>
    <p class="p-register"><a href="{% url 'chris:login' %}">Already have an account? Login</a></p>
  </div>
</div>
{% endblock %}
