{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
<section class="fence">
    <div id="title-block">
      <!-- <h2 v-show="all_budgets">All budgets</h2> -->
      <!-- <h2 v-show="!all_budgets">Active budgets</h2> -->
    </div>
    <div v-show="all_budgets" id="main">
      <div class="gap"></div>
      {% for budget in my_budgets|slice:":4" %}
      <div class="q-block">
        <div class="budget">
          <a class="budget_title status_{{budget.budget_status}}"
            href="../budget_details/{{ budget.id }}">{{ budget.title }}</a>
          <ul class="">
            <li class="">₦{{ budget.amount }}   |</li>
            <li class="">{{ budget.next_date }}   |</li>
            <li class=""></li>
            <li class=""></li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- <div v-show="!all_budgets" id="main"> -->
      <div class="gap"></div>
      {% for budget in active_budgets|slice:":4" %}
      <div class="q-block">
        <div class="budget">
          <a class="budget_title"
            href="../budget_details/{{ budget.id }}">{{ budget.title }}</a>
          <ul class="">
            <li class="">₦{{ budget.amount }}   |</li>
            <li class="">{{ budget.next_date }}   |</li>
            <li class=""></li>
            <li class=""></li>
          </ul>
        </div>
      </div>
      {% endfor %}
    <!-- </div> -->
    <!-- <button v-on:click="toggleBudgetViews()">Toggle Active/All Budgets</button> -->
    <!-- <a class="" href="../">New Budget</a> -->
</section>
{% endblock %}
