{% extends 'base.html' %}

{% block head %}
<title>Feedback</title>
{% endblock %}

{% block body %}
<form method="post">
  {% csrf_token %}
  <section class="fence">
    <div id="title-block">
      <h2>Feedback</h2>
    </div>
    <div id="main">
      <div class="gap"></div>
      <div class="q-block">
        <div class="budget">
          <textarea name="name" rows="8" cols="80"></textarea>
        </div>
      </div>
      <div id="nav" class="q-block">
        <button type="submit"> Send feedback </button>
      </div>
    </div>
  </section>
</form>
{% endblock %}
