{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h2>Existing banks</h2>
<!-- <form action="/sprout/link_recipient/" method="post"> -->
<form method="post">
  {% csrf_token %}
  {% for bank in banks %}
  <input type="radio" name="bank" value="{{ bank.id }}">{{ bank.holder_name }} | {{ bank.acc_no }} | {{ bank.bank }} <br>
  {% endfor %}
  <button type="button" onclick="link_recipient()"> Link Recipient </button>
</form>
<a href="{% url "sprout:new_recipient" %}">
  <button type="button">Add New Account</button>
</a>
<a>
<!-- delete this -->
</a>
<script>
  function link_recipient(){
    var recipient = document.getElementsByName("bank");
    for (var i=0, length = recipient.length; i<length; i++)
    {
      if (recipient[i].checked)
      {
        $.ajax({
          type: "POST",
          url: "/sprout/link_recipient/",
          data: {
            "recipient_id": recipient[i].value,
            "csrfmiddlewaretoken": "{{csrf_token}}"
          },
          success: function(response){
            window.location.href = "/sprout/pay";
          },
        });
        break;
      }
    }
  }
</script>
{% endblock %}
