{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<form method="post">
  {% csrf_token %}
  <section class="fence">
    <div id="title-block">
      <h2>What bank account will you fund this budget from?</h2>
    </div>
    <div id="main">
      <div class="gap"></div>
      {% for bank in banks|slice:":4" %}
      <div class="q-block" id="recipient">
        <!-- Note: it's important that the label is below the input -->
        <input id="id-{{ bank.id }}" type="radio" name="bank" value="{{ bank.id }}">
        <label class="recipient-radio" for="id-{{ bank.id }}"><span>
          {{ bank.holder_name }}</span> {{ bank.acc_no }} {{ bank.bank }}
        </label>

            <!-- <span class="delete" onclick="delete()">&times;</span> -->
        <!-- </div> -->
      </div>
      {% endfor %}

      <a href="{% url 'sprout:new_recipient' %}" class="new-acc">+ Add New Account</a>
      {% if budget_id %}
      <div id="nav" class="q-block">
        <button type="button" onclick="link_recipient()"> Link Recipient </button>
      </div>
      {% endif %}
    </div>
  </section>
</form>

<script>
  function link_recipient(){
    var recipient = document.getElementsByName("bank");
    for (var i=0, length = recipient.length; i<length; i++)
    {
      if (recipient[i].checked)
      {
        $.ajax({
          type: "POST",
          url: "/sprout/link_recipient/",
          data: {
            "recipient_id": recipient[i].value,
            "csrfmiddlewaretoken": "{{csrf_token}}"
          },
          success: function(response){
            window.location.href = "/sprout/pay";
          },
        });
        break;
      }
    }
  }
  // function delete(){
  //
  // }
</script>
{% endblock %}
