{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<section class="fence">
  <div id="title-block">
    <h2>Add a recipient</h2>
  </div>
  <div id="main">
    <div class="gap">
    </div><div class="q-block">
      <label>Select bank <br>
        <select class="" id="bank_code" name="">
          {% for bank in banks %}
          <option value="{{ bank.code }}">{{ bank.name }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    <div class="q-block">
      <label>Enter account number
        <input type="" id="acc_no" maxlength="10" onkeyup="verify_acc()" value="">
        {% block validation %}
        <p id="validation"></p>
        {% endblock %}
      </label>

    </div>
    <button onclick="submit()" id="add_bank">Add Bank</button>
  </div>
</section>

<script type="text/javascript">
  // var acc_no = document.getElementById("acc_no").value.trim();
  // var bank_code = document.getElementById("bank_code").value.trim();
  // var bank_name = document.getElementById("bank_code").text;

  function submit(){
    // if account validated do this:
    var acc_no = document.getElementById("acc_no").value.trim();
    var bank_name = document.getElementById('bank_code').options[document.getElementById('bank_code').selectedIndex].text;
    var bank_code = document.getElementById("bank_code").value;
    var holder_name = document.getElementById("validation").innerHTML;

    $.ajax({
      type: "POST",
      url: "/sprout/add_recipient/",
      data: {
        bank_code: bank_code,
        bank_name: bank_name,
        acc_no: acc_no,
        holder_name: holder_name,
        user_id: "{{ user_id }}",
        csrfmiddlewaretoken: "{{csrf_token}}"
      },
      success: function(){
        window.location.href = "/sprout/pay"
      }
    });
  }

  function resolve_account(){
    var acc_no = document.getElementById("acc_no").value.trim();
    var bank_code = document.getElementById("bank_code").value.trim();
    req = $.ajax({
      type: "POST",
      url: "/sprout/resolve_account/",
      data: {
        bank_code: bank_code,
        acc_no: acc_no,
        csrfmiddlewaretoken: "{{csrf_token}}"
      },
      success: function(response){
        document.getElementById("validation").innerHTML = response

      // Doesn't "success" by default, mean response.status is true?
      // Thus, why the need for the if statement below?
      // Whereas the "onClose" means that success is False
      // Or that the user closed the window
      // Is it possible that Success is true but the user closes
      // The window before the callback completes?
      // What happens then? Webhook?
      },
      // callback: function(response){
      //     // alert('success. transaction ref is ' + response["data"]["account_name"]);
      // },
    });
    // req.done(function(response) {
    //   // alert(acc_name)
    // });
  };



  function verify_acc(){
    var acc_no = document.getElementById("acc_no").value.trim();
    var bank_code = document.getElementById("bank_code").value.trim();
    // Update the condition to resolve account if there are 10 digits
    // and bank then changes.
    if (acc_no.length === 10) { // This should happen when when a change of bank happens too
      return resolve_account();
    }
  }
</script>
{% endblock %}
