{% extends 'base.html' %}
{% load humanize %}
{% load hundredth %}

{% block head %}
<title>Fund Budget</title>
{% endblock %}

{% block body %}
<section class="fence">
  <div id="title-block">
    <h2>Fund Budget</h2>
  </div>
  <div id="main">
    <div class="gap"></div>
    <div class="q-block">
      <div class="budget">
        <p>You are about to fund your budget for <span class="highlight">{{ budget.title }}.</span>
        Confirm the details below then click Pay to fund it.<span>You will not be able to
        edit details of your budget once it is funded</span></p>
      </div>
    </div>
    <div class="q-block">
      <div class="budget">
          <p>Budget name: {{ budget.title }}</p>
      </div>
    </div>
    <div class="q-block">
      <div class="budget">
          <p>Amount: ₦ {{ budget.amount|hundredth|intcomma }}</p>
      </div>
    </div>
    <div class="q-block">
      <div class="budget">
          <p>Type: {{ mode }}</p>
      </div>
    </div>
    <div class="q-block">
      <div class="budget">
          <p>Due date: {{ budget.next_date }}</p>
      </div>
    </div>
    <div class="q-block">
      <div class="budget">
          <p>Linked account: {{ linked_account.bank }} | {{ linked_account.acc_no }}</p>
      </div>
    </div>
    <form>
      <p>This should be a swipe move for mobile devices</p>
      <script src="https://js.paystack.co/v1/inline.js"></script>
      <div id="nav" class="q-block">
        <button type="button" onclick="payWithPaystack()"> Fund Budget </button>
      </div>
    </form>
  </div>
</section>
{{ response }}
<script>
  function payWithPaystack(){
    var handler = PaystackPop.setup({
      key: "{{ pk }}",
      email: "{{ email }}",
      amount: {{ budget.amount }},
      currency: "{{ currency }}",
      // ref: ''+Math.floor((Math.random() * 1000000000) + 1),
      // generates a pseudo-unique reference. Please replace with a
      // reference you generated. Or remove the line entirely so our API
      // will generate one for you
      metadata: {
         custom_fields: [
            {
                display_name: "Mobile Number",
                variable_name: "mobile_number",
                value: "+2348012345678"
            }
         ]
      },
      callback: function(response){
        $.ajax({
          type: "POST",
          url: "/sprout/payment_verification/",
          data: {
            "pay_ref": response.reference,
            "csrfmiddlewaretoken": "{{csrf_token}}"
          },
          success: function(){
            $.ajax({
              type: "POST",
              url: "/sprout/send_email/",
              data: {
                "mail_subject": "BLM Receipts",
                "template": "budget_funded_email",
                "email_from": "payment",
                // "to_email": "{{ email }}", // This is gotten from the user account
                "email_context": "payment_success",
                "csrfmiddlewaretoken": "{{csrf_token}}"
              },
              success: function(){
                window.location.href = "/sprout/budgets/"                
              }
            })

          // Doesn't "success" by default, mean response.status is true?
          // Thus, why the need for the if statement below?
          // Whereas the "onClose" means that success is False
          // Or that the user closed the window
          // Is it possible that Success is true but the user closes
          // The window before the callback completes?
          // What happens then? Webhook?
          },
        });
      },
      onClose: function(){
          // alert('window closed');
      }
    });
    handler.openIframe();
  }
</script>
{% endblock %}
